html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #DEF1EA;
  font-size: 1em;
}

.border {
  border: 10px solid #FF002E;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

#container {
  margin: auto;
  max-width: 90%;
  padding: 20px;
  position: relative;
  height: 100%;
}

.left-column, .right-column {
  float: left;
  height: 100%;
  width: 48%;
}

.left-column {
  margin-right: 2%;
}

ul#list {
  list-style: none;
  padding: 0;
  margin: 0 0 60px;
}
ul#list li {
  font-size: 1.2em;
  margin-bottom: 20px;
}

ul#list li .list-day {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.8em;
}

ul#list li .list-task {
  font-family: 'Schoolbell', cursive;
  font-size: 1.2em;
}

#nori-photo {
  background-image: url('../img/nori-1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

#nori-photo:hover {
  background-image: url('../img/nori-2.jpg');
}

h1, h2, h3 {
  font-family: 'Abril Fatface', 'Times New Roman', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: 'Schoolbell', cursive;
  color: #FF002E;
}


select {
  font-size: 1em;
  width: 30%;
  margin-right: 1%;
}

input {
  display: inline-block;
  width: 60%;
  font-size: 1.2em;
  padding: 3px 5px;

}